<!DOCTYPE html>
<html lang="fr">
<head>
  <title>⌘ Tumblr machine</title>
  <meta charset="utf-8">
  <link href="/tumblr-machine.css" rel="stylesheet" type="text/css"/>
  <script src="/jquery.js" type="text/javascript"></script>
  <script src="/jquery.compactWall-min.js" type="text/javascript"></script>
  <script src="/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="/tumblr-machine.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
</head>
<body>

<div id="messages">
  <% if flash[:error] %>
      <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:warning] %>
      <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:notice] %>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>
</div>

<h1 id="title">Tumblr Machine</h1>

<h2>Actions</h2>

<div id="actions">
  <form method=post action="/fetch_next_tags"><input type="submit" value="Fetch next tags"></form>
  <form method=post action="/clean"><input type="submit" value="Clean"></form>
  <a class="button" onclick="seeAllTags(); return false;" href="#">See all tags</a>
</div>

<h2>Posts</h2>
<table id="posts">
  <tr>
    <td>
      <div id="tagsPosts">
        <% @posts.each do |post| %>
            <div class="post">
              <div class="postImg">
                <%= "<a target=\"_blank\" href=\"#{post.tumblr.url}/post/#{post.id}\">" %>
                <% if post.height %>
                    <%= "<img src=\"#{post.img_url}\" height=\"#{post.height}px\" width=\"#{post.width}px\">" %>
                <% else %>
                    <%= "<img src=\"#{post.img_url}\">" %>
                <% end %>
                </a>
              </div>
              <div class="postInfo" style="width:<%= (post.img_url && post.width) ? post.width : 200 %>px">
                <%= "<a class=\"button\" onclick=\"reblog(#{post.id}); return false;\" title=\"Reblog\">Reblog</a>" %>
                <%= "<a title=\"Go to blog\" target=\"_blank\" href='#{post.tumblr.url}'>#{post.tumblr.name}</a>" %>
                –
                <%= post.tags.collect { |t| TumblrApi.tag_to_link(t.name, ("#{t.name}#{(t.value != 0) ? "(#{t.value})" : ''}")) }.join(', ') %>
              </div>
            </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<form method=post action="/skip_unposted">
  <input type="hidden" name="posts" value="<%= @posts.collect { |p| p.id }.join(',') %>">
  <input type="submit" value="Next page">
</form>

<div id="addOns">
  <h2>Add / Edit tag</h2>

  <form action="/edit_tag" method="post">
    <ul class="inputElement">
      <li>
        <label>Name <input type="text" name="tagName"></label>
      </li>
      <li>
        <label>Value <input type="number" name="tagValue"></label>
      </li>
      <li>
        <label>Fetch <input type="checkbox" name="tagFetch" checked="checked"></label>
      </li>
      <li>
        <input name="add_tag" type="submit" value="Submit"/>
      </li>
    </ul>
  </form>
</div>
<div>
  <h2>Configured tags</h2>
  <table id="tagsTableMain" class="tagsTable borderized">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Fetch</th>
      <th>Last Fetch Date</th>
      <th>Posts</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
        <tr>
          <td><%= TumblrApi.tag_to_link(tag[:n]) %></td>
          <td class="r"><%= tag[:v] %></td>
          <td><%= tag[:f] ? 'true' : 'false' %></td>
          <td><%= display_date_time(tag[:f] ? tag[:l] : nil) %></td>
          <td class="r"><%= tag[:c] %></td>
          <td>
            <a class="button" title="Fetch this tag" href="fetch/<%= tag[:n] %>">Fetch</a>
            <a class="button" title="Edit this tag" onclick="editTag(<%= "'#{tag[:n]}', #{tag[:v]}, #{tag[:f] ? 0 : 1}"%>); return false;">Edit</a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>

