<!DOCTYPE html>
<html lang="fr">
<head>
  <title>⌘ Tumblr machine admin</title>
  <meta charset="utf-8">
  <link href="/tumblr-machine.css" rel="stylesheet" type="text/css"/>
  <script src="/jquery.js" type="text/javascript"></script>
  <script src="/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="/tumblr-machine.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
</head>
<body>

<div id="messages">
  <% if flash[:error] %>
      <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:warning] %>
      <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:notice] %>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>
</div>

<h1 id="title">Tumblr Machine</h1>

<h2>Actions</h2>

<div id="actions">
  <form method=post action="/fetch_next_tags"><input type="submit" value="Fetch next tags"></form>
  <form method=post action="/clean"><input type="submit" value="Clean"></form>
  <a class="button" onclick="seeAllTags(); return false;" href="#">See all tags</a>
</div>

<h2>Next posts</h2>
<table id="tagsPosts">
  <thead>
  <tr>
    <th id="actionTdMain"></th>
    <th>Image</th>
    <th>Tumblr</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td>
          <%= "<a class=\"button\" onclick=\"reblog(#{post.id}); return false;\" title=\"Reblog\">Reblog</a>" %>
        </td>
        <td>
          <% if post.img_url %>
              <%= "<a target=\"_blank\" href=\"#{post.tumblr.url}/post/#{post.id}\">" %>
              <% if post.height %>
                  <%= "<img src=\"#{post.img_url}\" height=\"#{post.height}\ width=\"#{post.width}\">" %>
              <% else %>
                  <%= "<img src=\"#{post.img_url}\">" %>
              <% end %>
              </a>
          <% else %>
              <%= "<a class=\"button\" target=\"_blank\" href=\"#{post.tumblr.url}/post/#{post.id}\">View</a>" %>
          <% end %>
        </td>
        <td><%= "<a title=\"Go to blog\" target=\"_blank\" href='#{post.tumblr.url}'>#{post.tumblr.name}</a>" %></td>
        <td><%= post.tags.collect { |t| TumblrApi.tag_to_link(t.name, ("#{t.name}#{(t.value != 0) ? "(#{t.value})" : ''}")) }.join(', ') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<form method=post action="/skip_unposted">
  <input type="hidden" name="posts" value="<%= @posts.collect { |p| p.id }.join(',') %>">
  <input type="submit" value="Skip unposted">
</form>

<div id="addOns">
  <div>
    <h2>Add / Edit tag</h2>

    <form action="/edit_tag" method="post">
      <ul class="inputElement">
        <li>
          <label>Name <input type="text" name="tagName"></label>
        </li>
        <li>
          <label>Value <input type="number" name="tagValue"></label>
        </li>
        <li>
          <label>Fetch <input type="checkbox" name="tagFetch" checked="checked"></label>
        </li>
        <li>
          <input name="add_tag" type="submit" value="Submit"/>
        </li>
      </ul>
    </form>
  </div>
  <div>
    <h2>Configured tags</h2>
    <table id="tagsTableMain" class="tagsTable">
      <thead>
      <tr>
        <th class="actionTd"></th>
        <th>Name</th>
        <th>Value</th>
        <th>Fetch</th>
        <th>Last Fetch Date</th>
        <th>Posts</th>
      </tr>
      </thead>
      <tbody>
      <% @tags.each do |tag| %>
          <tr>
            <td><%= "<a title=\"Fetch this tag\" onclick=\"fetch(\"#{tag[:n]}\"); return false;\">⌘</a>" %></td>
            <td><%= TumblrApi.tag_to_link(tag[:n]) %></td>
            <td class="r"><%= tag[:v] %></td>
            <td><%= tag[:f] ? 'true' : 'false' %></td>
            <td><%= display_date_time(tag[:f] ? tag[:l] : nil) %></td>
            <td class="r"><%= tag[:c] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>

