<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Tumblr machine admin</title>
  <meta charset="utf-8">
  <link href="/tumblr-machine.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Tumblr Machine</h1>

<div id="messages">
  <% if flash[:error] %>
      <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:warning] %>
      <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:notice] %>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>
</div>


<h2>Edit tag</h2>

<form action="/add_tag" method="post">
  <ul class="inputElement">
    <li>
      <label>Name <input type="text" name="tagName"></label>
    </li>
    <li>
      <label>Value <input type="number" name="tagValue"></label>
    </li>
    <li>
      <label>Fetch <input type="checkbox" name="tagFetch"checked="checked" ></label>
    </li>
    <li>
      <input name="add_tag" type="submit" value="Submit"/>
    </li>
  </ul>
</form>
<h2>Existing tags</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Fetch</th>
    <th>Last Fetch Date</th>
    <th>Posts</th>
  </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
      <tr>
        <td><%= tag[:n] %></td>
        <td><%= tag[:v] %></td>
        <td><%= tag[:f] ? 'true' : 'false' %></td>
        <td><%= display_date_time(tag[:f] ? tag[:l] : nil) %></td>
        <td><%= tag[:c] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>

